<!-- <div id="map"></div> -->

<script>
// var map = L.map('map').setView([35.185, 33.382], 13);

// L.tileLayer("/assets/Ter%20Merivis.jpg", {
// maxZoom: 19
// }).addTo(map);
var map = L.map('map', {
    minZoom: 0,
    maxZoom: 3,
    center: [0, 0],
    zoom: 1,
    crs: L.CRS.Simple
});
var w = 3200;
var h = 2400;
// var url = '/assets/Ter%20Merivis.jpg';
var url = '/assets/Map%20Exploration.jpg';
var southWest = map.unproject([ 0, h], map.getMaxZoom()-1);
var northEast = map.unproject([ w, 0], map.getMaxZoom()-1);
var bounds = new L.LatLngBounds( southWest, northEast);

// bounds = [[0,0], [1000,1000]];

L.imageOverlay( url, bounds).addTo(map);

map.setMaxBounds(bounds);

// var marker = L.marker([-130, 128]).bindPopup("<b>Neverwinter</b>").addTo(map);

var greenIcon = new L.Icon({
  iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-green.png',
  shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
  iconSize: [25, 41],
  iconAnchor: [12, 41],
  popupAnchor: [1, -34],
  shadowSize: [41, 41]
});

$.getJSON( "/assets/world_markers.json", function(json1) {
   for(var key in json1.markers){
     var latLng = L.latLng([json1.markers[key].x, json1.markers[key].y]);
    //  var marker = L.marker(latLng, {icon: greenIcon}).bindPopup("<h5>"+ json1.markers[key].name + "</h5>").addTo(map);
    var color = "slateblue";
    if (json1.markers[key].hasOwnProperty("color")) {
      color = json1.markers[key].color;
    }

    var marker = new L.Marker.SVGMarker(latLng, { iconOptions: { color: color , fillOpacity: "1", circleRatio: "0.5", iconSize: [20, 32]}}).bindPopup("<h5>"+ json1.markers[key].name + "</h5>").addTo(map);

      marker.on('mouseover', function (e) {
          this.openPopup();
      });
      marker.on('mouseout', function (e) {
          this.closePopup();
      });
   }
 });

map.on('click', function(ev){
  var latlng = map.mouseEventToLatLng(ev.originalEvent);
  console.log(latlng.lat + ', ' + latlng.lng);
});
</script>