.journal-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    gap: 20px;
    padding: 1em;
}

.journal-toc {
    flex: 0 0 250px;
    position: sticky;
    top: 20px;
    height: fit-content;
    background: #fffcf0;
    padding: 1rem;
    border: 2px solid #8b7355;
    border-radius: 5px;
    overflow-y: auto;
    max-height: calc(100vh - 2rem);
}

.journal-toc h3 {
    color: #5c3d2e;
}

.journal-toc li {
    margin: 0.3rem 0;
}

.journal-toc a {
    color: #5c3d2e;
    font-size: 1.2rem;
}

.journal-toc a:hover {
    text-decoration: underline;
    color: #8b5a3c;
}

.journal-content {
    flex: 1;
    background: #fffcf0;
    padding: 2rem;
    border: 3px solid #8b7355;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.2);
    min-height: fit-content;
    line-height: 1.5;
    font-family: "Georgia", serif;
    font-size: 1.2rem;
}

.name-thalia {
    color: #419954;
    font-weight: 700;
}

.name-lachlan {
    color: #d30202;
    font-weight: 700;
}

.name-kaimi {
    color: #d75b1d;
    font-weight: 700;
}

.name-talon {
    color: oklab(45.58% 0.02345 0.09286);
    font-weight: 700;
}

.name-sillidious {
    color: #6d6d6d;
    font-weight: 700;
}