---
---
@import 'reset.scss';
@import 'phb.fonts.scss';
@import 'phb.assets.scss';
@import 'phb.depricated.scss';
@import 'phb.style.scss';

.phb {
    overflow: scroll !important;
    height: auto !important;
    width: auto !important;
    font-size: 1.5rem !important;
    padding: 1rem 1rem;
    min-height: 100vh;
    p {
        font-size: 100%;
    }
    h1 {
        font-size: 200%;
    }

    h2 {
        font-size: 175%;
    }
    p + h2,
    ul + h2,
    ol + h2 {
        margin-top: 1em;
    }

    h3 {
        font-size: 150%;
    }

    h4,h5 {
        font-size: 125%;
    }
    nav {
        font-size: 100%;
        a {
            font-size: 100%;
        }
    }
}

#banner {
    background: black;
    color:white;
    padding: 1em 3em;
}

@media only screen and (max-width:767px) {
    .phb {
        font-size: 1rem !important;
    }
}