<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <title>{{ site.title }}</title>
        <link rel="stylesheet" href="/assets/css/style.css">
        <link rel="stylesheet" href="/assets/css/timeline_style.css">
        <link rel="shortcut icon" href="/favicon.ico?"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <!-- <header role="banner" id="banner">
            <h1> {{ site.title }}</h1>
        </header> -->
        <main role="main" id="main" class="phb">
        {% include navigation.html %}
        {% include world_navigation.html %}
        {{ content }}
        <div class="timeline">
        {% for event in site.data.timeline %}
            <div class="timeline-event">
            <div class="event-date">{{ event.year }}</div>
            <div class="event-content">
                <h3>{{ event.title }}</h3>
                <p>{{ event.desc }}</p>
            </div>
            </div>
        {% endfor %}
        </div>
        </main>
        <footer role="contentinfo" id="contentinfo">
        </footer>
    </body>
</html>